


@media only screen and (max-device-width: 480px){
    .reveal {
        position: absolute;
        top: 338px;
        background-color: rgb(26, 190, 67);
        left: 46%;
        border: none;
        height: 50px;
        width: 100px;
        border-radius: 15px;
        font-weight: bold;
    }
    .guess {
        margin-top: 175px;
        font-weight: bold;
        font-size: 3em;
    }
    body {
        text-align: center;
        background: rgb(27, 27, 28);
    }
    
    .playB {
        background-color: rgb(26, 190, 67);
        text-align: center;
        border: none;
        width: 40%;
        height: 50px;
        border-radius: 15px;
        font-weight: bold;
        font-size: 1.2em;
        position: absolute;
        left: 39.5%;
    }
    
    .nextB {
        background-color: rgb(26, 190, 67);
        height: 75px;
        width: 75px;
        border: none;
        border-radius: 500px;
        font-size: 1.2em;
        font-weight: bold;
        position: absolute;
        top: 44%;
        left: 47.2%;
    }
}




@media only screen and (min-device-width: 480px){
    .reveal {
        position: absolute;
        top: 338px;
        background-color: rgb(26, 190, 67);
        left: 46%;
        border: none;
        height: 42px;
        width: 100px;
        border-radius: 15px;
        font-weight: bold;
    }
    .guess {
        margin-top: 175px;
        font-weight: bold;
        font-size: 3em;
    }
    body {
        text-align: center;
        background: rgb(27, 27, 28);
    }
    
    .playB {
        background-color: rgb(26, 190, 67);
        text-align: center;
        border: none;
        width: 21%;
        height: 42px;
        border-radius: 15px;
        font-weight: bold;
        font-size: 1.2em;
        position: absolute;
        left: 39.5%;
    }
    
    .nextB {
        background-color: rgb(26, 190, 67);
        height: 75px;
        width: 75px;
        border: none;
        border-radius: 500px;
        font-size: 1.2em;
        font-weight: bold;
        position: absolute;
        top: 44%;
        left: 47.2%;
    }
}





